<!doctype html>
<html>
<head>
  <link rel="stylesheet" href="/style.css">
  <title><%= title %></title>
</head>
<body>
  <div id="app">
    <div id="app-wrap">
      <div id="chat-header"><span></span></div>
      <div id="chat-display">
        <div id="messages"></div>
      </div>
      <div id="add-chat">
        <form action="" id="add-chat-form">
          <input class="inputdata" id="m" autocomplete="off" placeholder="Ketik Pesan" />
          <button class="inputdata">Kirim</button>
        </form>
      </div>
    </div>
  </div>
<script src="/socket.io/socket.io.js"></script>
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="/script.js"></script>
</body>
</html>